*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

.navbar {
  display: flex;
  background-color: #1a0b2e;
  padding: 37px 0;
  justify-content: space-between;
  align-items: center;
}

.btn {
  border-radius: 20px;
  padding: 12px 16px;
  cursor: pointer;
  background: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
  color: white;
}
.navbar-paragraph {
  display: flex;
  gap: 32px;
  color: white;
}
.navbar h2 {
  color: white;
}
.wave {
  background: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-btn {
  display: flex;
  gap: 20px;
}
.banner-btn-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#banner-btn-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #1a0b2e;
  color: #00ff88;
  border: 1px solid #00ff88;
  border-radius: 20px;
  padding: 12px 16px;
  cursor: pointer;
}

.banner {
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 760px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.banner-img-1 {
  background-image: url(./assets/hero-circle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  width: 350px;
  height: 350px;
}
.banner-img-2 {
  background-image: url(./assets/microphone.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  width: 350px;
  height: 350px;
}
#new{
  background-color: #00ff88;
  color: #1A0B2E;
  padding: 10px 20px;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 600;
  transform: translate3d(120px,-365px,0);
}
.banner h1 {
  color: white;
  font-size: 60px;
  font-weight: 800;
}

.banner p {
  color: #ffffff;
}
.podcast {
  background-color: #1a0b2e;
  text-align: center;
}
.podcast h2 {
  color: white;
  font-weight: 700;
  font-size: 48px;
}
.podcast p {
  color: #ffffff;
  margin-top: 10px;
}

.podcast .podcast-p-1 {
  margin-top: 30px;
}
.rating {
  display: flex;
  margin-top: 160px;
  gap: 80px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;
}

.rating h2 {
  color: #00ff88;
  font-size: 48px;
  font-weight: 900;
}

.choose {
  background-color: #230e3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 160px;
}

.choose .card-container {
  color: white;
  padding: 10px;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
  "premium mobile mobile"
  "premium global global"
  "exclusive exclusive rich";
}
.choose h2 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}
.card-container h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
}
.premium {
  grid-area: premium;
  padding: 20px;
  border-radius: 15px;
  background-color: #351165;
  opacity: 40%;
}

.mobile {
  grid-area: mobile;
  padding: 20px;
  border-radius: 15px;
  background-color: #351165;
  opacity: 40%;
}
.global {
  grid-area: global;
  padding: 20px;
  border-radius: 15px;
  background-color: #351165;
  opacity: 40%;
}
.exclusive {
  grid-area: exclusive;
  padding: 20px;
  border-radius: 15px;
  background-color: #351165;
  opacity: 40%;
}

.rich {
  grid-area: rich;
  padding: 20px;
  border-radius: 15px;
  background-color: #351165;
  opacity: 40%;
}

.card-feature{
  background-color: #1A0B2E;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  padding-bottom:  120px;
  gap: 30px;
}
.card-feature h2{
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}
.card-parent{
  display: flex;
  gap: 30px;
}

.card{
  background-color: #250D44;
  color: white;
  padding: 25px;
  border-radius: 10px;
}

.card-feature .card h4{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.host{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
background-color: #1A0B2E;
color: white;
padding-bottom: 120px;
}

.alex{
  background-color:rgba(53, 17, 101, 0.4) ;
  padding: 40px;
  border-radius: 10px;
  margin-top: 40px;
}
.host h2{
font-size: 48px;
font-weight: 700;
}
.host .alex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.alex-child h4{
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.alex-child p{
  margin-bottom: 15px;
}

.alex-btn img{
  background-color: #1A0B2E;
  border-radius: 50%;
  border: 1px solid rgba(83, 60, 114, 1);
}
.footer{
  background-image: url(./assets/footer-bg.png);
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0 116px;
}
.footer h2{
   font-weight: 900;
   font-size: 60px;
}
.footer .footer-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 35px 0;
}

.footer .footer-pera{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}