*{
    margin: 0 auto;
}

.navbar{
    display: flex;
    background-color: #1A0B2E;
    padding: 37px 0 ;
    justify-content: space-between;
    align-items: center;
}

.btn{
    border-radius: 20px;
    padding: 12px 16px;
    cursor: pointer;
    background: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);

}
.navbar-paragraph{
    display: flex;
    gap: 32px;
    font-weight: ;
    color: white;
}
.navbar h2{
    color: white;
}
#wave{
    background: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.banner {
    display: flex;
    width: 100%;
    height: 500px;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: auto ;
}